@use '../../styles/base' as a;

.custom-container {
    background: url(../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: relative;
}
.custom-container .bg-overlay {
    background: rgba(181, 135, 109, 0.4);
    height: 100%;
}
.arrow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: a.$dark-background;
    position: relative;
}
.arrow svg {
    font-size: 3rem;
}

@media screen and (min-width: 500px ) {
    .custom-container {
        background-repeat: repeat;
    }
    .bg-overlay {
        height: 90%;
    }
    .arrow svg {
        font-size: 7rem;
    }
}
