@use '../../styles/base' as a;

.catalog-wrapper {
    background-color: a.$text-color;
    position: absolute;
    width: 100%;
}
h2 {
    font-size: 2.5rem;
    padding-bottom: 15px;
    border-bottom: 2px solid a.$light-background;
    color: a.$light-background;
    font-family: a.$logo-font;
}
.img-flex {
    margin: 3rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}