@use '../../styles/base' as a;

.card {
    background-color: a.$dark-background !important;
}
.card-title {
    font-size: 1.2rem !important;
}
.card .card-image img {
    width: 200px !important;
    height: 250px !important;
}